NODE_ENV = development # production development
SECRET_TOKEN =your secret token
CLOUDINARY_URL=cloudinary://<cloudinary-api-key>:<cloud
FOLDER_BUDGETS=ivana_centro/budgets

EMAIL_FROM=<ivana-email>
SENDGRID_USERNAME=apikey
SENDGRID_PASSWORD=sendgrid-api-key

BASE_URL = http://localhost:4000
FRONT_URL = http://localhost:5173
ADM_EMAIL=<ivana-email>